app-footer
    position: fixed
    bottom: 0
    width: 100%
    height: 10%

app-header
    position: fixed
    top: 0
    width: 100%
    height: 10%

.main-layout
    display: flex
    justify-content: center
    align-items: center
    height: 100%

.admin-layout 
    background-color: #99d8ea
    height: 100%